#container{
    width: 70vw;
    margin: 2rem auto;
    border: 1px solid #ccc;
}

.comment{
    width: 70%;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
}